<p>Hola <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Te contactamos para notificarte que tu email cambiará a <%= @resource.unconfirmed_email %>. </p>
<% else %>
  <p>Te contactamos para notificarte que tu email cambió a <%= @resource.email %>.</p>
<% end %>
