<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta fue bloqueada debido a un intento excesivo de inicios de sesión fallidos.</p>

<p>Clickea el siguiente link para desbloquearla:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
