#toast-container" style="position: fixed; top: 0; right: 0; padding: 30px; z-index: 1060">

javascript:
  var flashJson = '<%= flash.to_json.html_safe %>';
  flashJson = JSON.parse(flashJson);
  var flashLength = flashJson.length;
  
  $(document).ready( function() {
    for (var i = 0; i < flashLength; i++) {
      PgRails.showToast(flashJson[i][0],flashJson[i][1]);
    }
  });
